{
  "openapi": "3.1.0",
  "info": {
    "title": "Cocktail Stock via Google Sheets",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://sheets.googleapis.com/v4/spreadsheets"
    }
  ],
  "paths": {
    "/{spreadsheetId}/values/{range}": {
      "get": {
        "summary": "Lire une plage du tableau",
        "operationId": "readStock",
        "parameters": [
          {
            "name": "spreadsheetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "range",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contenu de la plage demand\u00e9e"
          }
        }
      },
      "put": {
        "summary": "Mettre \u00e0 jour une plage du tableau",
        "operationId": "updateStock",
        "parameters": [
          {
            "name": "spreadsheetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "range",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "valueInputOption",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "USER_ENTERED",
                "RAW"
              ]
            }
          },
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "range": {
                    "type": "string"
                  },
                  "majorDimension": {
                    "type": "string"
                  },
                  "values": {
                    "type": "array",
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                },
                "required": [
                  "range",
                  "majorDimension",
                  "values"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Plage mise \u00e0 jour avec succ\u00e8s"
          }
        }
      }
    }
  }
}
